:root {
	--gap: 1rem;
	--section-gap: 2rem;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('fonts/FiraSans-Light.ttf');
	font-weight: normal;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('fonts/FiraSans-Bold.ttf');
	font-weight: bold;
}

/* This only exists to get around limitations in plotly. */
@font-face {
	font-family: 'Fira Sans Bold';
	src: url('fonts/FiraSans-Bold.ttf');
	font-weight: bold;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
	font-size: 11pt;
}

body {
	height: 100vh;
}

header {
	display: block;
	border-bottom: 2px #000 dashed;
	padding: var(--gap);
	text-align: center;
}

header > h1 {
	font-family: 'Fira Sans', sans-serif;
	font-weight: bold;
}

footer > p {
	font-family: 'Fira Sans', sans-serif;
	font-weight: normal;
	font-size: 10pt;
	color: #ddd;
	text-align: center;
	margin: var(--gap);
}

footer > p > a {
	color: #ddf;
}

section {
	padding: var(--section-gap) 0;
}

#chart {
	margin: 0 auto;
	border: 0;
	padding: 0;
	width: 90vw;
	height: 80vh;
}
